@use './style.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.homePage{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.bImgContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 5;
}
.bImg{
    object-fit: cover;
    width: 100%;
    // overflow: hidden;
}


.pageTitle{
    color: #006289;
    font-size: 9rem;
    margin-top: 200px;
    font-family: 'topFont';
}
.buttonText{
    background: #006289;
    color: #FFFFFF;
    padding: 2px 80px;    
    font-size: 4em;
    font-family: "customFont", sans-serif;
    border-radius: 100px;
    margin-top: 650px;
}
.description{
    color: #363763;
    // padding: 2px 80px;    
    font-size: 2em;
    width: 90%;
    text-align: center;
    font-family: "customFont", sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
}

.sendButtons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
    margin-bottom: 50px;
}
.sendBtn{
    padding: 5px 50px;
    text-align: center;
    background: #8CAAB5;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: "customFont", sans-serif;  
    font-weight: bold;
}
.sendable{
    background: #14A351;
    cursor: pointer;
}
.resetBtn{
    padding: 5px 50px;
    text-align: center;
    background: #78909C;
    color: #E3F6FC;
    border: 3px solid #E3F6FC;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: "customFont", sans-serif;  
    font-weight: bold;
    cursor: pointer;
}
.slidersContainer{
    position: relative;
    width: 90%;
    overflow: hidden;
    max-width: 1920px;
}
.popSent{
    position:fixed;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 100;
    background-color: #3f3f43;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    display: none;
    font-size: 3em;
    color: #FFFFFF;
}
.popSentActive{
    display: flex;
}

@media only screen and (max-width: 1800px) {
    .pageTitle{
        font-size: 7.5rem;
        margin-top: 120px;
    }

    .buttonText{
        padding: 2px 70px;    
        font-size: 3.5em;
        border-radius: 90px;
        margin-top: 550px;
    }
  } 
  @media only screen and (max-width: 1400px) {
    .pageTitle{
        font-size: 6rem;
        margin-top: 90px;
    }

    .buttonText{
        padding: 2px 60px;    
        font-size: 3em;
        border-radius: 80px;
        margin-top: 450px;
    }
    .description{
        font-size: 1.6em;
        margin-top: 40px;
        margin-bottom: 10px;
    }
  } 

  @media only screen and (max-width: 1200px) {
    .pageTitle{
        font-size: 6rem;
        margin-top: 90px;
    }

    .buttonText{
        padding: 2px 60px;    
        font-size: 3em;
        border-radius: 80px;
        margin-top: 400px;
    }

  } 

  @media only screen and (max-width: 1000px) {
    .pageTitle{
        font-size: 4.5rem;
        margin-top: 50px;
    }

    .buttonText{
        padding: 2px 40px;    
        font-size: 1.8em;
        border-radius: 70px;
        margin-top: 350px;
    }
    .description{
        font-size: 0.85em;
        margin-top: 30px;
        margin-bottom: 10px;
    }
  } 

  @media only screen and (max-width: 800px) {
    .pageTitle{
        font-size: 3rem;
        margin-top: 10px;
    }
    .buttonText{
        padding: 2px 40px;    
        font-size: 1.8em;
        border-radius: 60px;
        margin-top: 300px;
    }

    .popSent{
        top: 50px;
        left: 50%;
        width: 340px;
        padding: 60px 20px;
        gap: 30px;
        display: none;
        font-size: 2em;
    }
    .popSentActive{
        display: flex;
    }
    
  } 
  
  @media only screen and (max-width: 600px) {
    .pageTitle{
        font-size: 3rem;
        margin-top: 10px;
    }

    .buttonText{
        padding: 2px 40px;    
        font-size: 1.8em;
        border-radius: 60px;
        margin-top: 200px;
    }
    .description{
        font-size: 0.8em;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .sendButtons{
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }
  } 
  @media only screen and (max-width: 450px) {
    .pageTitle{
        font-size: 2rem;
        margin-top: 10px;
    }

    .buttonText{
        padding: 2px 40px;    
        font-size: 1.2em;
        border-radius: 60px;
        margin-top: 150px;
    }
    .description{
        font-size: 0.5em;
        margin-top: 30px;
        margin-bottom: 10px;
    }
  } 
  @media only screen and (max-width: 360px) {
    .pageTitle{
        font-size: 2rem;
        margin-top: 10px;
    }

    .buttonText{
        padding: 2px 40px;    
        font-size: 1.2em;
        border-radius: 60px;
        margin-top: 100px;
    }
  } 