@font-face {
    font-family: 'topFont';
    src: url('../../public/Pixilate\ -\ Lango\ Px\ Bold.otf');
  }
  @font-face {
    font-family: 'customFont';
    src: url('../../public/The\ Northern\ Block\ -\ Planer-Regular.otf');
  }

*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #D3E8F4;
}